html
    style
        include ../public/css/index.css 
    body
        h3 Hosted Authentication (Server)
        a(href="/hostedauth?code") Server-side
        br
        br
        h3 Hosted Authentication (Client)
        a(href="/hostedauth?token") Client-side