html,body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

table {
    width: 100%;
}

table, th, td {
    border:1px solid black;
}

th, td {
    padding: 7px;
    text-align: center;
}

.provider-container {
    display: flex;
    flex-direction: column;
}

.provider {
    display: flex;
    padding: 7px;
}